* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans'; }

.fontWeb, .menu {
  color: black;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace; }

/* SCSS HEX */
.containerPrincipal {
  display: grid;
  height: 100vh;
  padding-bottom: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.25fr 3fr 0.1fr;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer"; }

/* estilos del titulo principal */
.headerInit {
  grid-area: header;
  margin: 1rem;
  padding: 1rem; }

.headerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: radial-gradient(circle, #6AA84F, #4AF873);
  margin: 0 auto;
  animation-name: logoItemAction;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.headerLogoTitle {
  color: black;
  font-size: 20px;
  text-decoration: solid; }

.headerLogoSubTitle {
  color: black;
  font-size: 20px;
  text-decoration: solid; }

@keyframes logoItemAction {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(30deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-30deg); }
  100% {
    transform: rotate(0deg); } }

/**********************************************************/
/*Estilos footer*/
.footerInit {
  grid-area: footer;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex: row;
  margin-bottom: 5px;
  justify-content: space-between;
  border-radius: 1rem;
  background: linear-gradient(180deg, #94bbe9, #42C2FF); }
  .footerInit .footerIcons {
    align-content: end; }
  .footerInit h3 {
    font: bold;
    font-size: small;
    text-align: end; }

/***************************************************/
/*MENU de todas las paginas*/
.menu {
  grid-area: nav;
  margin: 0.5rem;
  padding: 0.5rem;
  background: linear-gradient(180deg, #42C2FF, #94bbe9);
  border-radius: 1rem;
  color: black;
  font-size: 18px; }
  .menu ul {
    list-style-type: none; }
    .menu ul li {
      list-style-type: none; }
      .menu ul li:hover {
        font-weight: bold; }
      .menu ul li:hover > ul {
        display: block; }
    .menu ul ul {
      display: none;
      position: absolute; }

.navbar-nav .navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%); }

/*Estilos del sub menu*/
.sub-menu, .botonForm {
  background: linear-gradient(180deg, #94bbe9, #42C2FF);
  padding: 5px;
  border-color: transparent;
  border-width: 0px;
  text-align: center; }

/*******************************************/
/*Pagina Servicios Main*/
.mainServices {
  grid-area: main;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template: "ServicesSelection" "SeccionKids" "SeccionEventosCorp" "SeccionCattering" "SeccionBodas";
  justify-content: center space-between;
  align-items: center;
  grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr; }

/*.mainServices {
    @include grid-set (main, grid, 1rem, 1rem);
    justify-content: center space-between;
    align-items: center;
    grid-row-gap: 30px;
}*/
.serviceSelection {
  grid-area: ServicesSelection;
  display: grid;
  margin: 0.2rem;
  padding: 0.2rem;
  justify-content: center space-between;
  align-items: center;
  align-content: center; }

.sectionKids {
  grid-area: SeccionKids;
  margin: 0.2rem;
  padding: 0.2rem; }

.sectionCorporative {
  grid-area: SeccionEventosCorp;
  margin: 0.2rem;
  padding: 0.2rem; }

.sectionCattering {
  grid-area: SeccionCattering;
  margin: 0.2rem;
  padding: 0.2rem; }

.sectionBodas {
  grid-area: SeccionBodas;
  margin: 0.2rem;
  padding: 0.2rem; }

.sectionClass h2 {
  text-align: center;
  font-size: 25px; }

.sectionClass p {
  text-align: center;
  font-size: 20px; }

/*contendor :tarjeta de los eventos
  Dentro de este
    .eventImage .eventImage--hover
    .eventInfo  .eventName
  Al pasar con el mouse por encima de esta realiza un zoom
*/
.eventCard {
  display: flex;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background: linear-gradient(90deg, #94bbe9, #42C2FF);
  min-width: 200px;
  min-height: 250px;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 2rem;
  justify-content: end;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); }

.eventCard:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05); }

.eventInfo {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.eventName {
  color: black;
  text-align: center;
  font-size: 20px; }

p {
  text-align: center; }

.eventKids .eventImage,
.eventKids .eventImage--hover {
  background-image: url("../img/kids.jpg"); }

.eventCorporative .eventImage,
.eventCorporative .eventImage--hover {
  background-image: url("../img/corporativo.jpg"); }

.eventCattering .eventImage,
.eventCattering .eventImage--hover {
  background-image: url("../img/catering.jpg"); }

.eventBodas .eventImage,
.eventBodas .eventImage--hover {
  background-image: url("../img/boda.jpg"); }

.eventImage {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px; }

.eventImage--hover {
  transition: 0.4s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0; }

.eventCard:hover .eventImage--hover {
  height: 100%;
  opacity: 0.3; }

/************************************************************/
/*EPagina Sobre Nosotros*/
/*Pagina Inicio */
.mainAboutUs {
  grid-area: main;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-areas: "mainAboutUsH2" "mainAboutUsImage" "mainAboutUsP";
  justify-content: center;
  justify-items: center; }

.mainAboutUsImage {
  grid-area: mainAboutUsImage;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  align-self: center;
  border-radius: 2rem; }

.mainAboutUsH2 {
  grid-area: mainAboutUsH2;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 25px;
  text-align: center; }

.mainAboutUsP {
  grid-area: mainAboutUsP;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 14px; }

/***********************************************************/
/*Pagina Galeria Main*/
/**/
.mainGalleryCarousel {
  grid-area: main;
  margin: 1.2rem;
  padding: 0.5rem; }

.mainGallery {
  grid-area: main;
  display: none; }

.itemImage, .itemImageCarousel {
  width: 100%;
  border-radius: 2rem;
  border: 3px solid #94bbe9;
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1); }

.itemInfo, .itemInfoCarousel {
  text-align: center;
  background-color: transparent; }

.item1 {
  width: 90%;
  transform: rotate(-3deg);
  color: transparent;
  transition: width 2s; }
  .item1:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item2 {
  width: 90%;
  transform: rotate(3deg);
  color: transparent;
  transition: width 2s; }
  .item2:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item3 {
  width: 90%;
  transform: rotate(-3deg);
  color: transparent;
  transition: width 2s; }
  .item3:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item4 {
  width: 90%;
  transform: rotate(3deg);
  color: transparent;
  transition: width 2s; }
  .item4:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item5 {
  width: 90%;
  transform: rotate(-3deg);
  color: transparent;
  transition: width 2s; }
  .item5:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item6 {
  width: 90%;
  transform: rotate(3deg);
  color: transparent;
  transition: width 2s; }
  .item6:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item7 {
  width: 90%;
  transform: rotate(-3deg);
  color: transparent;
  transition: width 2s; }
  .item7:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.item8 {
  width: 90%;
  transform: rotate(3deg);
  color: transparent;
  transition: width 2s; }
  .item8:hover {
    transition: width 2s;
    width: 100%;
    transform: rotate(0deg);
    color: black; }

.itemImageCarousel {
  max-height: 235px auto;
  max-width: 100%; }

.itemInfoCarousel p {
  color: black;
  width: fit-content;
  opacity: 65%;
  background-color: #94bbe9;
  margin-block-start: 0;
  border-radius: 5px; }

/***********************************************************/
/*Pagina Reviews*/
.mainReviews {
  grid-area: main;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  .mainReviews h2 {
    font-size: 26px;
    text-align: center; }
  .mainReviews ul li {
    list-style-type: none;
    font-size: 15px;
    font-style: italic;
    text-align: center; }
  .mainReviews ul p {
    font-size: 20px;
    font-style: oblique;
    font: message-box; }

/*******************************************/
/*Pagina Inicio */
.mainInit {
  grid-area: main;
  display: grid;
  margin: 0.5rem;
  padding: 0.5rem;
  grid-template-areas: "mainInitVideo" "mainInitP";
  align-content: center;
  justify-items: center; }

.mainInitVideo {
  grid-area: mainInitVideo;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: url("/img/background3.png");
  background-size: 150%;
  overflow: hidden; }
  .mainInitVideo a {
    text-decoration: none;
    color: inherit;
    font-size: 30px; }
  .mainInitVideo .mainInitP {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    background: linear-gradient(90deg, #42C2FF, #94bbe9, #42C2FF);
    letter-spacing: 5px;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative; }

@keyframes shine {
  0% {
    background-position-x: -500%; }
  100% {
    background-position-x: 500%; } }

/***********************************************************/
/*Pagina Contacto*/
.mainContact {
  grid-area: main;
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-template-areas: "formulario" "infoContact";
  align-content: center;
  justify-content: center;
  justify-items: center; }

.infoContact {
  grid-area: infoContact;
  margin: 1rem;
  padding: 1rem;
  font-size: 20px; }
  .infoContact .tituloRedes {
    text-align: center; }
  .infoContact .linksRedes {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    padding: 5px; }

/*Formulario*/
.infoFormulario {
  grid-area: formulario;
  margin: 0.2rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

/*.titleFormulario{
    font-size: $sizeFontH2;
}
.tituloRedes{
    @extend .titleFormulario;
}*/
.formulario {
  margin: 1rem;
  padding: 1rem;
  font-size: large; }

.botonForm {
  width: 35%;
  text-align: center;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  transition: all 0.4s; }
  .botonForm:hover {
    border-radius: 10px;
    color: whitesmoke;
    background: #4AF873; }

/*
.botonFormMenu{
    width: 20px;
    text-align: center;
	border-radius: 7px;
	border-bottom-left-radius: 0;
	transition: all 0.4s;
    background: white;
	&:hover {
		border-radius: 10px;
		color: black;
        background: white;
	}
}*/
/**********************************************************/
/*MEDIA QUERY*/
@media screen and (min-width: 575px) {
  .menu {
    font-size: 18px; }
  .mainContact {
    grid-area: main;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    grid-template-areas: "formulario infoContact" "formulario infoContact";
    align-content: center;
    justify-content: space-around;
    justify-items: center; }
  .mainAboutUs {
    grid-area: main;
    display: grid;
    margin: 0.5rem;
    padding: 0.5rem;
    grid-template-areas: "mainAboutUsH2 mainAboutUsH2" "mainAboutUsImage mainAboutUsP" "mainAboutUsImage mainAboutUsP";
    justify-content: center;
    justify-items: center; }
  .serviceSelection {
    grid-area: ServicesSelection;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 3fr;
    justify-content: center space-between;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px; }
  .mainGallery {
    grid-area: main;
    display: grid;
    margin: 1.2rem;
    padding: 0.5rem;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2rem; }
  .mainGalleryCarousel {
    display: none; } }

@media screen and (min-width: 900px) {
  .menu {
    font-size: 18px; }
  .mainContact {
    grid-area: main;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    grid-template-areas: "formulario infoContact" "formulario infoContact";
    align-content: center;
    justify-content: space-around;
    justify-items: center; }
  .mainAboutUs {
    grid-area: main;
    display: grid;
    margin: 0.5rem;
    padding: 0.5rem;
    grid-template-areas: "mainAboutUsH2 mainAboutUsH2" "mainAboutUsImage mainAboutUsP" "mainAboutUsImage mainAboutUsP";
    justify-content: center;
    justify-items: center; }
  .serviceSelection {
    grid-area: ServicesSelection;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center space-between;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px; }
  .mainGallery {
    grid-area: main;
    display: grid;
    margin: 1.2rem;
    padding: 0.5rem;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2rem; }
  .mainGalleryCarousel {
    display: none; } }

@media screen and (min-width: 1360px) {
  .menu {
    font-size: 20px; }
  .mainContact {
    grid-area: main;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    grid-template-areas: "formulario infoContact";
    grid-template-areas: "formulario infoContact";
    align-content: center;
    justify-content: space-around;
    justify-items: center; }
  .mainAboutUs {
    grid-area: main;
    display: grid;
    margin: 1rem;
    padding: 1rem;
    grid-template-areas: "mainAboutUsH2 mainAboutUsH2 mainAboutUsH2" "mainAboutUsImage mainAboutUsImage mainAboutUsP" "mainAboutUsImage mainAboutUsImage mainAboutUsP";
    justify-content: center;
    justify-items: center; }
  .serviceSelection {
    grid-area: ServicesSelection;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 3fr;
    justify-content: center space-between;
    align-items: center;
    grid-row-gap: 30px;
    grid-column-gap: 30px; }
  .mainGallery {
    grid-area: main;
    display: grid;
    margin: 1.2rem;
    padding: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.2rem;
    align-content: center;
    justify-content: space-around;
    justify-items: center; }
  .mainGalleryCarousel {
    display: none; } }

a {
  /*LINKS o Hipervinculos*/
  text-decoration: none; }

body {
  background-image: url("../img/background2.png");
  background-color: white;
  background-size: initial;
  background-repeat: repeat;
  font-family: "Tahoma"; }
