/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del body*/

body {
    /*background-color: #85F4FF;*/
    background-image: url('../img/background-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.containerPrincipal{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
    grid-template-areas: "header header header header"
                         "nav nav nav nav"
                         "main main main main"
                         "footer footer footer footer";
}
/* estilos del titulo principal */
.headerInit {
    margin: 1rem;
    padding: 1rem;
    grid-area: header;
}

a {
    /*LINKS o Hipervinculos*/
    text-decoration: none;
}

.headerLogo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    /*background: #6AA84F;*/
    background: radial-gradient(circle, #6AA84F, #4AF873);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    animation-name: logoItemAction;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.headerLogoTitle {
    color: honeydew;
    font-size: 20px;
    text-decoration: solid;
}



@keyframes logoItemAction {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/***************************************************/
/*MENU de todas las paginas*/
.menu {
    /*background: #42C2FF;*/
    background: linear-gradient(0deg, #42C2FF, #94bbe9);
    border-radius: 1rem;
    margin: 1rem;
    grid-area: nav;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.menu ul {
    display: flex;
    /*justify-content: space-around;*/
    list-style-type: none;
    /*text-align: center;*/
}

.menu ul li {
    list-style-type: none;
    color: whitesmoke;
    font-size: 16px;
    position: relative;

}

.menu ul li:hover {
    /*background-color: #5c4431;*/
    color: whitesmoke;
    font-weight: bold;
}

.menu ul ul {
    display: none;
    position: absolute;
}

.menu ul li:hover>ul {
    display: block;
}

/*Estilos del sub menu*/
.sub-menu {
    background-color: #42C2FF;
    padding: 5px;
    text-align: center;
}


/*******************************************/
/*Pagina Inicio */
.mainInit {
    grid-area: main;
    display: grid;
    margin: 1rem;
    grid-template-areas: "mainInitVideo "
        "mainInitP";
    justify-content: center;
    justify-items: center;
}

.mainInitP {
    grid-area: mainInitP;
    text-align: center;
    font-size: 1rem;
}

.mainInitVideo {
    grid-area: mainInitVideo;
    width: 100%;

}

/*******************************************/
/*Pagina Servicios Main*/
.mainServices {
    grid-area: main;
    padding: 1rem;
    display: grid;
    grid-template-areas: "eventKids eventKids"
        "eventCorporative eventCorporative"
        "eventCattering eventCattering";
    justify-content: center;
    justify-items: center;
    gap: 0.5rem;
}

.eventName {
    text-align: center;
    font: bolder;
}

.eventImage {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.eventKids {
    grid-area: eventKids;
}

.eventCorporative {
    grid-area: eventCorporative;
}

.eventCattering {
    grid-area: eventCattering;
}

/************************************************************/
/*EPagina Sobre Nosotros*/
/*Pagina Inicio */
.mainAboutUs {
    grid-area: main;
    display: grid;
    padding: 0.2rem;
    grid-template-areas: "mainAboutUsH2"
        "mainAboutUsImage"
        "mainAboutUsP";
    justify-content: center;
    justify-items: center;
}

.mainAboutUsImage {
    grid-area: mainAboutUsImage;
    width: 100%;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 2rem;
}

.mainAboutUsH2 {
    grid-area: mainAboutUsH2;
    font-size: 25px;
    text-align: center;
}

.mainAboutUsP {
    grid-area: mainAboutUsP;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}

/***********************************************************/
/*Pagina Galeria Main*/
/**/
.mainGalleryCarousel{
    grid-area: main;
    margin: 1rem;
    padding: 1rem;
    display: block;
}
.mainGallery {
    grid-area: main;
    margin: 1rem;
    display:inline-block;
    align-items: center;
    grid-template-areas: "imagen1"
        "imagen2"
        "imagen3"
        "imagen4";
    gap: 0.2rem;
    display: none;
}

.item1 {
    grid-area: imagen1;
    overflow:hidden
}

.item1:hover img{
    width: 102%;
    transform:scale(1.3);
    /*transform: rotate(5deg);*/
   
}

.item2 {
    width: 100%;
    grid-area: imagen2;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: width 1s;
}

.item2:hover {
    width: 102%;
    transform: rotate(-5deg);
}

.item3 {
    width: 100%;
    grid-area: imagen3;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: width 1s;
}

.item3:hover {
    width: 102%;
    transform: rotate(5deg);
}

.item4 {
    width: 100%;
    grid-area: imagen4;
    border-radius: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    transition: width 1s;
}

.item4:hover {
    width: 102%;
    transform: rotate(-5deg);
}

/***********************************************************/
/*Pagina Contacto*/
/*Formulario*/
.mainContact {
    grid-area: main;
    display: flex;
    align-content: center;
    justify-content: center;
}

.formulario {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: large;
}


/***********************************************************/
/*Pagina Reviews*/
.mainReviews {
    grid-area: main;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 1rem;
}

.mainReviews h2 {
    font-size: 20px;
    text-align: center;
}

.mainReviews ul li {
    list-style-type: none;
    font-size: 15px;
    
    font-style: italic;
}

.mainReviews ul p {
    font-size: 20px;
    font-style: oblique;
    font: message-box;
}

/**********************************************************/
/*Estilos footer*/
.footerInit {
    grid-area: footer;
    margin-bottom: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: linear-gradient(0deg, #42C2FF, #94bbe9);
    text-align: end;
}

.footerInit h3 {
    font: bold;
    font-size: small;
}

.footerIcons {
    text-align: end;
}

/**********************************************************/
/*MEDIA QUERY*/
@media screen and (min-width: 720px) {
    .mainAboutUs {
        display: grid;
        padding: 0.2rem;
        grid-template-areas: "mainAboutUsH2 mainAboutUsH2"
            "mainAboutUsImage mainAboutUsP"
            "mainAboutUsImage mainAboutUsP";
        justify-content: center;
        justify-items: center;
    }

    .mainServices {
        padding: 1rem;
        display: grid;
        grid-template-areas: "eventKids eventCattering"
            "eventCorporative eventCattering";
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 0.2rem;
    }

    .mainGallery {
        padding: 1rem;
        display: grid;
        grid-template-areas: "imagen1 imagen2"
            "imagen3 imagen4";
        gap: 0.2rem;
        margin: 1rem;
    }
    .mainGalleryCarousel{
        display: none;
    }
}

@media screen and (min-width: 1360px) {
    .mainAboutUs {
        display: grid;
        padding: 0.2rem;
        grid-template-areas: "mainAboutUsH2 mainAboutUsH2"
            "mainAboutUsImage mainAboutUsP"
            "mainAboutUsImage mainAboutUsP";

        justify-content: center;
        justify-items: center;
    }

    .mainServices {
        padding: 1rem;
        display: grid;
        grid-template-areas: "eventKids eventCorporative eventCattering";
        justify-content: center;
        justify-items: center;
        gap: 0.2rem;
    }

    .mainGallery {
        padding: 1rem;
        display: grid;
        grid-template-areas: "imagen1 imagen2 imagen3 imagen4";
        gap: 0.2rem;
        margin: 1rem;
    }
    .mainGalleryCarousel{
        display: none;
    }


}