.containerPrincipal {
    display: grid;
    height: $containerHeight;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
    grid-template-areas: "header header header header"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
}