/***********************************************************/
/*Pagina Contacto*/
/*Formulario*/
.mainContact {
    @include grid-set (main, 0, 1rem, 1rem);
    display: flex;
    align-content: center;
    justify-content: center;
}

.formulario {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: $formFontSize;
}