/**********************************************************/
/*Estilos footer*/
.footerInit {
    grid-area: footer;
    margin-bottom: 1rem;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background: linear-gradient($linearGradientFooter, $colorPrincipalMenu, $colorSecundarioMenu);
    text-align: end;

    h3 {
        font: bold;
        font-size: small;
    }

    .footerIcons {
        text-align: end;
    }
}