/*******************************************/
/*Pagina Inicio */
.mainInit {
    @include grid-set (main, grid, 1rem, 1rem);
    grid-template-areas: "mainInitVideo"
        "mainInitP";
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.mainInitP {
    @include grid-set (mainInitP, 0, 0.2rem, 0.2rem);
    text-align: center;
    font-size: 1rem;
}

.mainInitVideo {
    @include grid-set (mainInitVideo, 0, 0.2rem, 0.2rem);
    width: 100%;
    height: 40vh;
}

/*******************************************/
/*Pagina Servicios Main*/
.mainServices {
    @include grid-set (main, grid, 1rem, 1rem);
    justify-content: center space-between;
    align-items: center;
    grid-row-gap: 30px;
}

/*contendor :tarjeta de los eventos
  Dentro de este
    .eventImage .eventImage--hover
    .eventInfo  .eventName
  Al pasar con el mouse por encima de esta realiza un zoom
*/
.eventCard {
    display: flex;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: $colorSecundarioMenu;
    min-width: 200px;
    min-height: 250px;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 2rem;
    justify-content: end;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.eventCard:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.eventInfo {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.eventName {
    color: black;
    text-align: center;
    width: 100%;
}

p {
    text-align: center;
}

.eventKids .eventImage,
.eventKids .eventImage--hover {
    background-image: url('../img/kids.jpg');
}

.eventCorporative .eventImage,
.eventCorporative .eventImage--hover {
    background-image: url('../img/corporativo.jpg');
}

.eventCattering .eventImage,
.eventCattering .eventImage--hover {
    background-image: url('../img/catering.jpg');
}

.eventBodas .eventImage,
.eventBodas .eventImage--hover {
    background-image: url('../img/boda.jpg');
}

.eventImage {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.eventImage--hover {
    transition: 0.4s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.eventCard:hover .eventImage--hover {
    height: 100%;
    opacity: 0.3;
}

/************************************************************/
/*EPagina Sobre Nosotros*/
/*Pagina Inicio */
.mainAboutUs {
    @include grid-set (main, grid, 0.2rem, 0.2rem);
    grid-template-areas: "mainAboutUsH2"
        "mainAboutUsImage"
        "mainAboutUsP";
    justify-content: center;
    justify-items: center;
}

.mainAboutUsImage {
    @include grid-set (mainAboutUsImage, 0, 1rem, 1rem);
    width: auto;
    border-radius: 2rem;
}

.mainAboutUsH2 {
    @include grid-set (mainAboutUsH2, 0, 0.5rem, 0.5rem);
    font-size: 25px;
    text-align: center;
}

.mainAboutUsP {
    @include grid-set (mainAboutUsP, 0, 0.5rem, 0.5rem);
    text-align: center;
}

/***********************************************************/
/*Pagina Galeria Main*/
/**/
.mainGalleryCarousel {
    @include grid-set (main, 0, 1.2rem, 0.5rem);
}

.mainGallery {
    @include grid-set (main, none, 1.2rem, 0.5rem);
}
.itemImage {
    width: 100%;
    border-radius: 2rem;
    border: 3px solid $colorSecundarioMenu;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}
.itemInfo{
    text-align: center;
    background-color: transparent;
    & :hover{
        background-color: violet;
    }
}


@for $i from 1 through $cantGalleryItems{
    @if $i%2 ==0{
        .item#{$i}{
            //@include grid-set (imagen#{$i}, 0, 0.5rem, 0.5rem);
            @include gallery-item (90%,100%,rotate(5deg),black,width 1s);    
        }
    }@else{
        .item#{$i}{
            //@include grid-set (imagen#{$i}, 0, 0.5rem, 0.5rem);
            @include gallery-item (90%,100%,rotate(-5deg),black,width 1s);    
        }
    }
}


/***********************************************************/
/*Pagina Reviews*/
.mainReviews {
    @include grid-set (main, flex, 1rem, 1rem);
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h2 {
        font-size: $sizeFontReviews;
        text-align: center;
    }

    ul {
        li {
            list-style-type: none;
            font-size: $sizeFontReviewsLi;
            font-style: italic;
            text-align: center;
        }

        p {
            font-size: $sizeFontReviewsP;
            font-style: oblique;
            font: message-box;
        }
    }
}