/*******************************************/
/*Pagina Inicio */
.mainInit {
    @include grid-set (main, grid, 0.2rem, 0.2rem);
    grid-template-areas: "mainInitVideo"
        "mainInitP";
    align-content: center;
    justify-items: center;
}

.mainInitVideo {
    @include grid-set (mainInitVideo, 0, 0.5rem, 0.5rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: transparent;
    a {
        text-decoration: none;
        color: inherit;
        font-size: $sizeFontH1;
    }

    .mainInitP  {
        font-weight: 700;
        text-align: center;
        font-size: $sizeFontH1*1.2;
        background: linear-gradient(90deg, $colorPrincipalMenu,$colorSecundarioMenu, $colorPrincipalMenu);
        letter-spacing: 5px;
        background-repeat: no-repeat;
        background-size: 80%;
        animation: shine 5s linear infinite;
        position: relative;
    }
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

/*******************************************/
/*Pagina Servicios Main*/
.mainServices {
    @include grid-set (main, grid, 1rem, 1rem);
    grid-template: "ServicesSelection"
        "SeccionKids"
        "SeccionEventosCorp"
        "SeccionCattering"
        "SeccionBodas";
    justify-content: center space-between;
    align-items: center;
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

/*.mainServices {
    @include grid-set (main, grid, 1rem, 1rem);
    justify-content: center space-between;
    align-items: center;
    grid-row-gap: 30px;
}*/
.serviceSelection {
    @include grid-set (ServicesSelection, grid, 0.2rem, 0.2rem);
    justify-content: center space-between;
    align-items: center;
    align-content: center;
}

.sectionKids {
    @include grid-set (SeccionKids, 0, 0.2rem, 0.2rem);
}

.sectionCorporative {
    @include grid-set (SeccionEventosCorp, 0, 0.2rem, 0.2rem);
}

.sectionCattering {
    @include grid-set (SeccionCattering, 0, 0.2rem, 0.2rem);
}

.sectionBodas {
    @include grid-set (SeccionBodas, 0, 0.2rem, 0.2rem);
}

.sectionClass {
    h2 {
        text-align: center;
        font-size: $sizeFontH2;
    }

    p {
        text-align: center;
        font-size: $sizeFontReviewsP;
    }
}

/*contendor :tarjeta de los eventos
  Dentro de este
    .eventImage .eventImage--hover
    .eventInfo  .eventName
  Al pasar con el mouse por encima de esta realiza un zoom
*/
.eventCard {
    display: flex;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    $colorPriMenu: map-get($colorMenu, principal);
    $colorSecMenu: map-get($colorMenu, secundario);
    background: linear-gradient($linearGradientFooter/2, $colorSecMenu, $colorPriMenu);
    min-width: 200px;
    min-height: 250px;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 2rem;
    justify-content: end;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.eventCard:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.eventInfo {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.eventName {
    color: black;
    text-align: center;
    font-size: $sizeFontH3;
}

p {
    text-align: center;
}

.eventKids .eventImage,
.eventKids .eventImage--hover {
    background-image: url('../img/kids.jpg');
}

.eventCorporative .eventImage,
.eventCorporative .eventImage--hover {
    background-image: url('../img/corporativo.jpg');
}

.eventCattering .eventImage,
.eventCattering .eventImage--hover {
    background-image: url('../img/catering.jpg');
}

.eventBodas .eventImage,
.eventBodas .eventImage--hover {
    background-image: url('../img/boda.jpg');
}

.eventImage {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.eventImage--hover {
    transition: 0.4s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.eventCard:hover .eventImage--hover {
    height: 100%;
    opacity: 0.3;
}

/************************************************************/
/*EPagina Sobre Nosotros*/
/*Pagina Inicio */
.mainAboutUs {
    @include grid-set (main, grid, 1rem, 1rem);
    grid-template-areas: "mainAboutUsH2"
        "mainAboutUsImage"
        "mainAboutUsP";
    justify-content: center;
    justify-items: center;
}

.mainAboutUsImage {
    @include grid-set (mainAboutUsImage, 0, 0.5rem, 0.5rem);
    width: 100%;
    align-self: center;
    border-radius: 2rem;
}

.mainAboutUsH2 {
    @include grid-set (mainAboutUsH2, 0, 0.5rem, 0.5rem);
    font-size: $sizeFontH2;
    text-align: center;
}

.mainAboutUsP {
    @include grid-set (mainAboutUsP, 0, 0.5rem, 0.5rem);
    text-align: center;
    font-size: $sizeFontP;
}

/***********************************************************/
/*Pagina Galeria Main*/
/**/
.mainGalleryCarousel {
    @include grid-set (main, 0, 1.2rem, 0.5rem);
}

.mainGallery {
    @include grid-set (main, none, 1.2rem, 0.5rem);
}

.itemImage {
    width: 100%;
    border-radius: 2rem;
    border: 3px solid $colorSecundarioMenu;
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.itemInfo {
    text-align: center;
    background-color: transparent;
}

@for $i from 1 through $cantGalleryItems {
    @if $i%2 ==0 {
        .item#{$i} {
            //@include grid-set (imagen#{$i}, 0, 0.5rem, 0.5rem);
            @include gallery-item (90%, 100%, rotate(3deg), black, width 2s);
        }
    }

    @else {
        .item#{$i} {
            //@include grid-set (imagen#{$i}, 0, 0.5rem, 0.5rem);
            @include gallery-item (90%, 100%, rotate(-3deg), black, width 2s);
        }
    }
}

.itemImageCarousel {
    @extend .itemImage;
    max-height: 235px auto;
    max-width: 100%;
}

.itemInfoCarousel {
    @extend .itemInfo;

    p {
        color: black;
        width: fit-content;
        opacity: 65%;
        background-color: $colorSecundarioMenu;
        margin-block-start: 0;
        border-radius: 5px;
    }
}


/***********************************************************/
/*Pagina Reviews*/
.mainReviews {
    @include grid-set (main, flex, 1rem, 1rem);
    flex-direction: column;
    align-content: center;
    justify-content: center;

    h2 {
        font-size: $sizeFontReviews;
        text-align: center;
    }

    ul {
        li {
            list-style-type: none;
            font-size: $sizeFontReviewsLi;
            font-style: italic;
            text-align: center;
        }

        p {
            font-size: $sizeFontReviewsP;
            font-style: oblique;
            font: message-box;
        }
    }
}