/**********************************************************/
/*MEDIA QUERY*/
@media screen and (min-width: 720px) {
    .mainAboutUs {
        @include grid-set (main,grid,0.5rem, 0.5rem);
        grid-template-areas: "mainAboutUsH2 mainAboutUsH2"
            "mainAboutUsImage mainAboutUsP"
            "mainAboutUsImage mainAboutUsP";
        justify-content: center;
        justify-items: center;
    }

    .mainServices {
        @include grid-set (main,grid,0.5rem, 0.5rem);
        grid-template-areas: "eventKids eventCattering"
            "eventCorporative eventCattering";
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;
    }

    .mainGallery {
        @include grid-set (main,grid,0.5rem, 0.5rem);
        align-items: center;
        grid-template-areas: "imagen1 imagen2"
            "imagen3 imagen4";
        gap: 0.2rem;
    }

    .mainGalleryCarousel {
        display: none;
    }
}

@media screen and (min-width: 1360px) {
    .mainAboutUs {
        @include grid-set (main,grid,1rem, 1rem);
        grid-template-areas: "mainAboutUsH2 mainAboutUsH2 mainAboutUsH2"
            "mainAboutUsImage mainAboutUsImage mainAboutUsP"
            "mainAboutUsImage mainAboutUsImage mainAboutUsP";
        justify-content: center;
        justify-items: center;
    }

    .mainServices {
        @include grid-set (main,grid,1rem, 1rem);
        grid-template-areas: "eventKids eventCorporative eventCattering";
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 0.2rem;
    }

    .mainGallery {
        @include grid-set (main,grid,1rem, 1rem);
        grid-template-areas: "imagen1 imagen2 imagen3 imagen4";
        gap: 0.2rem;
    }

    .mainGalleryCarousel {
        display: none;
    }
}