* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans';
}

@import "base/extend";
@import "base/variables";
@import "base/mixins";
@import "base/map";
@import "container";
@import "components/header";
@import "components/footer";
@import "components/menu";
@import "main";
@import "contact";
@import "mediaqueries";


a {
    /*LINKS o Hipervinculos*/
    text-decoration: none;
}

body {
    background-image: url('../img/background2.png');
    background-color: white;// url('../img/background3.png');
    background-size:initial ;
    background-repeat: repeat;
    font-family: $fuentePagina;
}
