* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "base/variables";
@import "container";
@import "components/header";
@import "components/footer";
@import "components/menu";
@import "main";
@import "contact";
@import "mediaqueries";


a {
    /*LINKS o Hipervinculos*/
    text-decoration: none;
}

body {
    background-image: url('../img/background2.png');
    background-repeat: no-repeat;
    background-size: cover ;
    background-repeat: repeat;
    font-family: $fuentePagina;
}