//Header
$colorPrincipalLogo: #6AA84F;
$colorSecundarioLogo: #4AF873;
$sizeFontLogo:20px;

//Menu
$colorPrincipalMenu: #42C2FF;
$colorSecundarioMenu: #94bbe9;
$sizeFontMenu:20px;
$colorFontMenu:whitesmoke;
$colorSubmenu:#42C2FF;
$linearGradientMenu:0deg;

//Footer
$linearGradientFooter:180deg;

//Titulos
$fuenteTitulos: 'Comforter', cursive;
$tamanoTitulos: 2rem;

//Fomrulario
$formFontSize: large;

//Container
$containerHeight: 100vh;