/**********************************************************/
/*Estilos footer*/
.footerInit {
    @include grid-set (footer,0,1rem, 1rem);
    border-radius: 2rem;
    background: linear-gradient($linearGradientFooter, $colorPrincipalMenu, $colorSecundarioMenu);
    text-align: end;

    h3 {
        font: bold;
        font-size: small;
    }

    .footerIcons {
        text-align: end;
    }
}