/**********************************************************/
/*Estilos footer*/
.footerInit {
    @include grid-set (footer,0,1rem, 1rem);
    border-radius: 2rem;
    $colorSecMenu: map-get($colorMenu,principal);
    $colorPriMenu: map-get($colorMenu,secundario);
    background: linear-gradient($linearGradientFooter, $colorPriMenu, $colorSecMenu);
    text-align: end;
    h3 {
        font: bold;
        font-size: small;
    }
    .footerIcons {
        text-align: end;
    }
}