/* estilos del titulo principal */
.headerInit {
    @include grid-set (header, 0, 1rem, 1rem);
}

.headerLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    background: url("../img/background3.png");
    margin: 0 auto;
    animation-name: logoItemAction;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.headerLogoTitle {
    color: $colorFontLogo;
    font-size: $sizeFontLogo;
    text-decoration: solid;
}

.headerLogoSubTitle {
    color: $colorFontLogo;
    font-size: $sizeFontLogo*0.8;
    text-decoration: solid;
}



@keyframes logoItemAction {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}