/* estilos del titulo principal */
.headerInit {
    @include grid-set (header,0,1rem, 1rem);
}

.headerLogo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    $colorPriLogo: map-get($colorLogo,principal);
    $colorSecLogo: map-get($colorLogo,secundario);
    background: radial-gradient(circle, $colorPriLogo, $colorSecLogo);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: center;
    animation-name: logoItemAction;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.headerLogoTitle {
    color: honeydew;
    font-size: $sizeFontLogo;
    text-decoration: solid;
}



@keyframes logoItemAction {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}