/***************************************************/
/*MENU de todas las paginas*/
.menu {
    @include grid-set (nav, 0, 0.5rem, 0.5rem);
    $colorPriMenu: map-get($colorMenu, principal);
    $colorSecMenu: map-get($colorMenu, secundario);
    background: linear-gradient($linearGradientFooter, $colorPriMenu, $colorSecMenu);
    border-radius: 1rem;
    @extend .fontWeb;
    color: $colorFontMenu;
    font-size: $sizeFontMenu;

    ul {
        list-style-type: none;

        li {
            list-style-type: none;
            
            &:hover {
                font-weight: bold;
            }
            &:hover>ul {
                display: block;
            }
        }

        ul {
            display: none;
            position: absolute;
        }
    }
}

.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/*Estilos del sub menu*/
.sub-menu {
    $colorSecMenu: map-get($colorMenu, principal);
    $colorPriMenu: map-get($colorMenu, secundario);
    background: linear-gradient($linearGradientFooter, $colorPriMenu, $colorSecMenu);
    padding: 5px;
    border-color: transparent;
    border-width: 0px;
    text-align: center;
}