/***************************************************/
/*MENU de todas las paginas*/
.menu {
    @include grid-set (nav,0,1rem, 1rem);
    $colorPriMenu: map-get($colorMenu,principal);
    $colorSecMenu: map-get($colorMenu,secundario);
    background: linear-gradient($linearGradientFooter, $colorPriMenu, $colorSecMenu);
    border-radius: 1rem;
    @extend .fontWeb;
    color: $colorFontMenu;
    font-size: $sizeFontMenu;
    
    ul {
        display: flex;
        list-style-type: none;
        li {
            list-style-type: none;
            position: relative;
            &:hover {
                color: $colorFontMenuHover;
                font-weight: bold;
            }

            &:hover>ul {
                display: block;
            }
        }

        ul {
            display: none;
            position: absolute;
        }
    }
}

.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/*Estilos del sub menu*/
.sub-menu {
    background-color: $colorSubmenu;
    padding: 5px;
    text-align: center;
}