$colorLogo: (/*Declaracion de mapa*/
    principal: #6AA84F,
    secundario: #4AF873
);

$colorMenu: (/*Declaracion de mapa*/
    principal: #42C2FF,
    secundario: #94bbe9,
    fuente: whitesmoke,
    submenu: #42C2FF
);