
//PALETA DE UNA TORTA
/* SCSS HEX */
$antique-ruby: #882D2Fff;
$bone: #D1CAB8ff;
$black-bean: #441912ff;
$smoky-black: #100404ff;
$deep-taupe: #7E6664ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-right: linear-gradient(90deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-bottom: linear-gradient(180deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-left: linear-gradient(270deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-top-right: linear-gradient(45deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-bottom-right: linear-gradient(135deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-top-left: linear-gradient(225deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-bottom-left: linear-gradient(315deg, #882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);
$gradient-radial: radial-gradient(#882D2Fff, #D1CAB8ff, #441912ff, #100404ff, #7E6664ff);


/* SCSS HEX */
$oxford-blue: #00072dff;
$royal-blue-dark: #001c55ff;
$royal-blue-dark-2: #0a2472ff;
$honolulu-blue: #0e6ba8ff;
$non-photo-blue: #a6e1faff;

/* SCSS HSL */
$oxford-blue: hsla(231, 100%, 9%, 1);
$royal-blue-dark: hsla(220, 100%, 17%, 1);
$royal-blue-dark-2: hsla(225, 84%, 24%, 1);
$honolulu-blue: hsla(204, 85%, 36%, 1);
$non-photo-blue: hsla(198, 89%, 82%, 1);

/* SCSS RGB */
$oxford-blue: rgba(0, 7, 45, 1);
$royal-blue-dark: rgba(0, 28, 85, 1);
$royal-blue-dark-2: rgba(10, 36, 114, 1);
$honolulu-blue: rgba(14, 107, 168, 1);
$non-photo-blue: rgba(166, 225, 250, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-right: linear-gradient(90deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-bottom: linear-gradient(180deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-left: linear-gradient(270deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-top-right: linear-gradient(45deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-bottom-right: linear-gradient(135deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-top-left: linear-gradient(225deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-bottom-left: linear-gradient(315deg, #00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);
$gradient-radial: radial-gradient(#00072dff, #001c55ff, #0a2472ff, #0e6ba8ff, #a6e1faff);